.page {
    background-color: #000;
    min-height: 100vh;
    font-family: 'Inter Regular';
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: auto;
}

@media screen and (min-width: 1280px){
    .page__container {
        max-width: 880px;
        margin: auto;
    }
}